/* common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* utilities */

body{
    font-family: Arial, Helvetica, sans-serif;
}

.debug{
    background-color: aqua;
    
    header{
        background-color: blue;
    }
}

.d-flex{
    display: flex;
}

.access{
    border: 1px solid transparent;
    padding: 5px 10px;
    background-color: white;
}

.default{
    border: 1px solid transparent;
    padding: 5px 10px;
    background-color: #0061fe;
    color: white;
}

h2{
    font-size: 30px;
    padding-bottom: 50px;
}

ul{
    list-style: none;
    align-items: center;
}

h4{
    padding: 10px 0px;
}


/* #region header*/

header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    vertical-align: middle;
    text-align: center;
    font-size: small;
}

.logo{
    padding-right: 20px;
}
    
.left-control,
.right-control{
    
    a{
        text-decoration: none;
        color: black;
        padding: 20px;
    }
}

/* #endregion header */

/* #region main*/

/* #region container */
.container{
    border-bottom: 1px solid;
    border-color: rgb(229, 227, 227);
    height: 680px;
}

.container-small{
    background-color: #b4d0e6;
    height: 570px;
    position: relative;
}

.card-title{
    width: 80%;
    padding: 50px 100px;
    margin: auto;
}

h1{
    font-size: 50px;
    padding-bottom: 40px;
}

.front-page{
    display: flex;
}

.intro{
    padding-bottom: 20px;
    font-size: small;
}

.w-70{
    width: 70%;
}

.w-30{
    width: 30%;
}

.access1{
    border: 1px solid transparent;
    background-color: #b4d0e6;
    padding-top: 20px;
}

.icon-arrow{
    position: absolute;
    bottom: 0px;
    font-size: 40px;
}
/* #endregion container */

/* #region container-down */

.container-down{
    width: 70%;
    padding: 50px 80px;
    margin: auto;
}

.billing{
    color: #0061fe;
}

.billing1{
    color: rgb(216, 216, 216);
}

.own-choice{
    padding-right: 60px;
}


/* #endregion container-down*/

.row{ 
    display: flex;
    flex-wrap: wrap;
    .icon-title{
        text-align: center;
    }
    h3{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .category{
        padding-bottom: 40px;
        p{
            color: gray;
        }
        .solutions{
            color: black;
            padding-top: 30px;
            font-size: 15px;
        }
    }
}

.limits,
.limits-big{
    text-align: center;
    padding: 20px 0px;
}
.big-b{
    border: 1px solid transparent;
    background-color: #0061fe;
    color: white;
    height: 50px;
    width: 200px;
}

.col-33{
    width: calc( 100% / 3 );
    padding: 1rem;
}

.col-100{
    width: 100%;
    padding: 1rem;

}
.position-move{
    position: relative;
}
.limits-big{
    position: absolute;
    top: 70px;
    left: 650px;
}

.container-plans{
    padding-top: 50px;
}

.small-one{
    height: 200px;
    padding: 10px;
    border: 1px solid;
}

.package{
    padding: 10px;
    border: 1px solid;
    height: 600px;
}

.icon-title{
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 10px;
}

.font-check{
    color: #0061fe;
}

/* #region partner */

.partner{
   display: flex;
   justify-content: space-around;
}
.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
    padding: 40px;

    .partner-btn{
        height: 40px;
        width: 125px;
        background-color: white;
    }
}

/* #endregion partner */

/* #endregion main*/

/* #region footer*/



/* #endregion footer*/