/* common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* utilities */

body{
    font-family: Arial, Helvetica, sans-serif;
}

.debug{
    background-color: aqua;
    
    header{
        background-color: blue;
    }
}

.d-flex{
    display: flex;
}

.access{
    border: 1px solid transparent;
    padding: 5px 10px;
    background-color: white;
}

.default{
    border: 1px solid transparent;
    padding: 5px 10px;
    background-color: #0061fe;
    color: white;
}

/* #region header*/

header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    vertical-align: middle;
    text-align: center;
    font-size: small;
}

.logo{
    padding-right: 20px;
}
    
.left-control,
.right-control{
    
    a{
        text-decoration: none;
        color: black;
        padding: 20px;
    }
}

/* #endregion header */

/* #region main*/

.container{
    border-bottom: 1px solid;
    border-color: rgb(229, 227, 227);
    height: 600px;
}

.container-small{
    background-color: #b4d0e6;
    height: 500px;
    position: relative;
}

.card-title{
    width: 80%;
    padding: 50px 100px;
    margin: auto;
}

h1{
    font-size: 50px;
    padding-bottom: 40px;
}

.front-page{
    display: flex;
}

.intro{
    padding-bottom: 20px;
    font-size: small;
}

.w-70{
    width: 70%;
}

.w-30{
    width: 30%;
}

.access1{
    border: 1px solid transparent;
    background-color: #b4d0e6;
    padding-top: 20px;
}

.icon-arrow{
    position: absolute;
    bottom: 0px;
    font-size: 40px;
}

/* #endregion main*/

/* #region footer*/



/* #endregion footer*/